@media screen and (min-width: 768px) {

    .add-alert {
        left: 0px;
        top: 50px;
        width: 100%;
        position: fixed;
        padding-right: 15px;
        z-index: 2000;
        text-align: center;
    }
}