body {
    padding-top: 50px;
}

.glyphicon {
    color: #23B27E;
}

.btn-primary .glyphicon {
    color: #ffffff;
}

.btn {
    border-radius: 2px;
}

.btn-primary {
	background: #23b27e;
    border-color: #23b27e;
}

.btn-primary:hover{
    background: #009969;
    color: #ffffff;
    border-color: #009969;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: #23b27e;
	border-color: #23b27e
}

.index {
    background:#000;
    height:440px;
    text-align:center;
    color:#fff;
    padding:140px 0 0;
    position:relative;
}


.index h1 {
    font-size:4rem;
    font-weight:600;
    margin-bottom:.2em;
    margin-top:.2em;
}

.index p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1.5em;
}

.bg {
    background:url(/static/bg-table.jpg) 50% 65% no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:0;
	opacity:.9;
}

.index .btn {
    padding: 1.3em 2.5em 1.2em;
    font-size: 17px;
    line-height: 1;
}


.index .container {
    position: relative;
    z-index: 100;
}

.index .container > div {
    margin-top: 30px;
    font-size: 16px;
}

.index .container > div a {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.alert {
    margin:0;
	padding:10px 70px;
	list-style:none;
	background:#e66f2d;
	margin:20px 0px 20px;
	color:#fff;
	/*font-weight:bold;*/
	/*font-size:13px*/
}

.modal-body .form-group .alert {
    text-align: center;
}

.navbar-form .btn-primary {
    border: 1px solid transparent;
}

input[type=text],input[type=password],textarea{
	border:2px solid #dddedf;
	border-radius:2px;
	width:100%;
	box-sizing:border-box;
	transition:all .1s ease
}

input[type=text]:focus,input[type=password]:focus,textarea:focus{
	outline:none;
	border-color:#c3c5c6;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #953b39;
    box-shadow: none;
}

.modal-title {
    text-align: center;
}

@media screen and (min-width: 768px) {

    .add-alert {
        left: 0px;
        top: 50px;
        width: 100%;
        position: fixed;
        padding-right: 15px;
        z-index: 2000;
        text-align: center;
    }

    .sep {
        border-left: 1px solid #DDDDDD;
        width: 1px;
        margin: 14px 20px;
        height: 20px;
    }

    .modal-body .form-group .alert {
        margin-left: -162px;
        margin-right: -162px;
        border-radius: 0;
    }

    .intro .row {
        margin: 40px 0px;
    }
}

@media screen and (max-width: 768px) {

    .navbar-form {
        border-top: none;
        padding-top: 0px;
    }

    .nav .btn {
        width: 100%;
    }

    .btn-navbar {
        padding: 0px 15px;
    }

    .modal-body .form-group .alert {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
    }

    .intro .col {
        margin: 40px 0px;
    }
}

.form-horizontal .alert {
    margin-bottom: 0px;
    margin-top: 15px;
}

.collapse {
    display: block;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

section {
    text-align: center;
    padding: 100px 10%;
    border-bottom: 1px solid rgb(238, 238, 238);
    background: none repeat scroll 0% 0% rgb(234, 237, 241);
}

section h2 {
    color: #00B27B;
    max-width: 800px;
    margin: 0.8em auto;
}



section .col > div {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-bottom: 2px solid rgb(238, 238, 238);
    padding: 30px;
}

footer {
    padding:50px 0;
    color:#777;
    border-top:1px solid #ddd
}

footer p {
    text-align: center;
}