body {
    padding-top: 50px;
}

.navbar-collapse {
    border: 0 none;
}

.glyphicon {
    color: #23B27E;
}

.navbar-toggle .glyphicon {
    color: #cccccc;
}

.modal-title {
    text-align: center;
}

.modal-body .form-group .alert {
    text-align: center;
}

.navbar-form .btn-primary {
    border: 1px solid transparent;
}

.signup-btn {
    border-color: #23B27E;
    border-width: 2px;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #23b27e;
}

.signup-btn:hover {
    border-color: #009969;
    color: #009969;
    background-color: #ffffff;
}
@media screen and (min-width: 768px) {
    .sep {
        border-left: 1px solid #DDDDDD;
        width: 1px;
        margin: 14px 20px;
        height: 20px;
    }

    .modal-body .form-group .alert {
        margin-left: -162px;
        margin-right: -162px;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-form {
        border-top: none;
        padding-top: 0;
    }

    .nav .btn {
        width: 100%;
    }

    .btn-navbar {
        padding: 0 15px;
    }

    .modal-body .form-group .alert {
        margin-left: -20px;
        margin-right: -20px;
        border-radius: 0;
    }

    .navbar-toggle.pull-left {
        margin-left: 15px;
        margin-right: 0;
    }

    .navbar-toggle {
        padding: 3px 12px;
        font-size: 18px;
        color: white;
        width: auto;
        height: auto;
    }

}


